doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title zoom
    body
        header
            h1 Zoom
        main
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height="400")
                button#mute Mute
                button#camera Turn Camera Off
                select#cameras
                    option(value="device") Face Camera
            //playsinline : 모바일에서 fullscreen으로 전환되지 않고 인라인으로 재생되도록 함
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")

